<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--Drink Table Start -->
<div class="row" style="align-self: center; margin: 100px">
    <div class="row">
        <!--Obrazek Start-->
        <div class="col-sm-4" style="width: 144px;">
            <img src="https://64.media.tumblr.com/tumblr_lao9w1WHXd1qa8q3yo1_400.jpg" width="140" height="140" >
        </div>
        <!--Obrazek End-->
        <div class="col" style="width: 250px;">
            <h2>ID Drink: 11000</h2>
            <div class="row" style="width: 210px;padding-left: 20px;">
                <div class="col" style="justify-content: start; align-self: start; align-content: start; align-items: start">
                    <nobr>Ingredient1: "Light rum",</nobr>
                </div>
                <div class="col">
                    <nobr>Ingredient2: "Lime",</nobr>
                </div>
                <div class="col">
                    <nobr>Ingredient3: "Sugar",</nobr>
                </div>
                <div class="col">
                    <nobr>Ingredient4: "Mint",</nobr>
                </div>
                <div class="col">
                    <nobr>Ingredient5: "Soda water",</nobr>
                </div>

            </div>
        </div>
        <div class="col">
            <h2>Mojito</h2>
            <div class="col" style="justify-content: start; align-self: start; align-content: start; align-items: start">

                <p>Muddle mint leaves with sugar and lime juice. Add a splash of soda water and fill the glass with cracked ice. Pour the rum and top with soda water. Garnish and serve with straw.</p>
                <p><a class="btn btn-secondary" href="#">View details »</a></p>

            </div>

        </div>
        <div class="col">
            <h2>Category: Cocktail</h2>

        </div>
        <div class="col">
            <h2>Alcohol: Alcoholic</h2>

        </div>
        <div class="col">
            <h2>Highball glass</h2>

        </div>
    </div>

    <!--
                <p>Muddle mint leaves with sugar and lime juice. Add a splash of soda water and fill the glass with cracked ice. Pour the rum and top with soda water. Garnish and serve with straw.</p>
                <p><a class="btn btn-secondary" href="#">View details »</a></p>
      "strCategory":"Cocktail",
      "typeAlcohol":"Alcoholic",
      "strGlass":"Highball glass",


    </div>





    </div>
    Drink Table End -->
</body>
</html>