<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<h1>All Drinks</h1>

<table>
    <tr>
        <th>ListOfDrinks</th>
    </tr>
    <tr th:each="drinkEntity : ${drinkEntities}">
        <td th:text="${drinkEntity.getDrinkid()}"/>
        <td th:text="${drinkEntity.getDrink_name()}"/>
        <td th:text="${drinkEntity.getDrink_category()}"/>
        <td th:text="${drinkEntity.getGlass_type()}"/>
        <td th:text="${drinkEntity.getPreparation_instruction()}"/>
        <td th:text="${drinkEntity.getType()}"/>
    </tr>
    <button type="submit" value="Wyślij">Submit</button>
</table>


</body>
</html>