<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<h1>All Drinks</h1>

<table>
    <tr>
        <th>ListOfDrinks</th>
    </tr>

    <tr th:each="drink : ${listOfDrinks}">
        <td th:text="${drink.drinkId}"/>
        <td th:text="${drink.drinkName}"/>
        <td th:text="${drink.drinkCategory}"/>
        <td th:text="${drink.glassType}"/>
        <td th:text="${drink.preparationInstruction}"/>
        <td th:text="${drink.drinkType}"/>
    </tr>

</table>


</body>
</html>