<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title th:text="#{index.tab}">ISA Thymeleaf</title>
</head>
<body>
<header>
    <div>
        <div th:text="#{index.title}">It's Nice To Meet You</div>
        <div th:text="#{index.subtitle}">Welcome To Our Studio!</div>
    </div>
</header>
</body>
</html>
