<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <!--    <link rel="stylesheet" th:href="@{~/static/css/container.css}">-->
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:1px; }
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
            overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
            font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
    </style>


    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="style/navbar :: navbar "/>
<div class="container" style="    padding-top: 50px;">
    <div style="align-self: center; text-align: -webkit-center;justify-content: center; margin-right: 100px; margin-left: 100px; margin-top: 20px; margin-bottom: 30px">
        <table class="tg">

            <div th:each="drink, iStat : ${drinkPage.content}"> <!--Loop-->
                <thead style="size: 1024px">
                <tr>
                    <th class="tg-0pky" colspan="3" rowspan="2" width="140" height="100"><img th:src="${drink.getDrinkImg()}" width="140" height="140" ></th>
                    <th class="tg-0pky" style="width: 186px; height: 31px; "><nobr>Drink ID:<p style="height: 10px" th:text="${drink.getDrinkId()}"/></nobr></th>
                    <th class="tg-0pky" style="width: 186px; height: 31px; "><nobr>Name:<p style="height: 10px" th:text="${drink.getDrinkName()}"/></nobr></th>
                    <th class="tg-0pky" style="width: 186px; height: 31px; "><nobr>Category:<p style="height: 10px" th:text="${drink.getDrinkCategory().getLabel()}"/></nobr></th>
                    <th class="tg-0pky" style="width: 186px; height: 31px; "><nobr>Type :<p style="height: 10px" th:text="${drink.getDrinkType().getLabel()}"/></nobr></th>
                    <th class="tg-0pky" style="width: 186px; height: 31px; "><nobr>Glass Type:<p style="height: 10px" th:text="${drink.getGlassType().getLabel()}"/></nobr></th>
                    <th class="tg-0pky">Favorite</th>
                </tr>
                <tr> <!--                Integrents List:                                -->
                    <td class="tg-0pky">Integrents List: -> <br><a th:href="@{/d2c/singleDrink(name=${drink.getDrinkName()})}">Instruction Details</a></td>
                    <th class="tg-0pky" style="width: 186px; height: 87px; ">
                <span th:if="${drink.getIngredients().get(0).getIngredientName != null}">
                    <span style="height: 20px" th:text="${drink.getIngredients().get(0).getIngredientName}"/>
                </span>
                        <span th:if="${drink.getIngredients().get(0).getMeasure != null}">
                    <br>
                    <span>Measure: </span>
                    <span style="height: 20px" th:text="${drink.getIngredients().get(0).getMeasure}"/>
                </span>
                    </th>
                    <th class="tg-0pky" style="width: 186px; height: 87px; ">
                <span th:if="${drink.getIngredients().get(1).getIngredientName != null}">
                    <span style="height: 20px" th:text="${drink.getIngredients().get(1).getIngredientName}"/>
                </span>
                        <span th:if="${drink.getIngredients().get(1).getMeasure != null}">
                    <br>
                    <span>Measure: </span>
                    <span style="height: 20px" th:text="${drink.getIngredients().get(1).getMeasure}"/>
                </span>
                    </th>
                    <th class="tg-0pky" style="width: 186px; height: 87px; ">
                <span th:if="${drink.getIngredients().get(2).getIngredientName != null}">
                    <span style="height: 20px" th:text="${drink.getIngredients().get(2).getIngredientName}"/>
                </span>
                        <span th:if="${drink.getIngredients().get(2).getMeasure != null}">
                    <br>
                    <span>Measure: </span>
                    <span style="height: 20px" th:text="${drink.getIngredients().get(2).getMeasure}"/>
                </span>
                    </th>
                    <th class="tg-0pky" style="width: 186px; height: 87px; ">
                <span th:if="${drink.getIngredients().get(3).getIngredientName != null}">
                    <span style="height: 20px" th:text="${drink.getIngredients().get(3).getIngredientName}"/>
                </span>
                        <span th:if="${drink.getIngredients().get(3).getMeasure != null}">
                    <br>
                    <span>Measure: </span>
                    <span style="height: 20px" th:text="${drink.getIngredients().get(3).getMeasure}"/>
                </span>
                    </th>
                    <th class="tg-0pky" style="width: 186px; height: 87px; ">
                <span th:if="${drink.getIngredients().get(4).getIngredientName != null}">
                    <span style="height: 20px" th:text="${drink.getIngredients().get(4).getIngredientName}"/>
                </span>
                        <span th:if="${drink.getIngredients().get(4).getMeasure != null}">
                    <br>
                    <span>Measure: </span>
                    <span style="height: 20px" th:text="${drink.getIngredients().get(4).getMeasure}"/>
                </span>
                    </th>
                </tr>
                </thead>
            </div>
        </table>
        <!--Tabela End-->
    </div>
    <!-- Containter upper Footer Start-->

    <div class="container">

        <div class="row">
            <!--Per Page Start-->
            <div class="form-group col-md-1 page-select">
                <div class="col-sm-3" th:height="20">
                    <div class="item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="border-left-width: 50px; padding-left: 100px;">
                            Per Page
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/d2c/search(size=5, page=1, glassType=${glassType}, type=${type}, category=${category})}"
                                   th:class="${pageNumber==drinkPage.number + 1} ? active">5</a></li>
                            <li><a class="dropdown-item" th:href="@{/d2c/search(size=10, page=1, glassType=${glassType}, type=${type}, category=${category})}"
                                   th:class="${pageNumber==drinkPage.number + 1} ? active">10</a></li>
                            <!--<li><hr class="dropdown-divider"></li>-->
                            <li><a class="dropdown-item" th:href="@{/d2c/search(size=15, page=1, glassType=${glassType}, type=${type}, category=${category})}"
                                   th:class="${pageNumber==drinkPage.number + 1} ? active">15 </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Per Page End-->
            <!--Pagination Start-->

            <div th:if="${persons.totalPages != 1}" class="form-group col-md-11 pagination-container" style="padding-left: 770px;">
                <ul class="pagination">
                    <li th:class="${persons.number == 0} ? disabled">
                        <a p th:class="page-link" th:href="@{/d2c/search(size=${drinkPage.size}, page=1), glassType=${glassType}, type=${type}, category=${category}}">&laquo;</a>
                    </li>
                    <li th:class="${persons.number == 0} ? disabled">
                        <a p th:class="page-link" th:href="@{/d2c/search(size=${drinkPage.size}, page=${persons.number}, glassType=${glassType}, type=${type}, category=${category})}">&larr;</a>
                    </li>
                    <li th:class="${persons.number == (page - 1)} ? 'active pointer-disabled'"
                        th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                        <a p th:class="page-link" th:href="@{/d2c/search(size=${drinkPage.size}, page=${page}, glassType=${glassType}, type=${type}, category=${category})}"
                           th:text="${page}"></a>
                    </li>
                    <li th:class="${persons.number + 1 == persons.totalPages} ? disabled">
                        <a p th:class="page-link"
                           th:href="@{/d2c/search(size=${drinkPage.size}, page=${persons.number + 2}, glassType=${glassType}, type=${type}, category=${category})}">&rarr;</a>
                    </li>
                    <li th:class="${persons.number + 1 == persons.totalPages} ? disabled">
                        <a p th:class="page-link"
                           th:href="@{/d2c/search(size=${drinkPage.size}, page=${persons.totalPages}, glassType=${glassType}, type=${type}, category=${category})}">&raquo;</a>
                    </li>
                </ul>
            </div>
            <!--Pagination End-->
        </div>
    </div>

</div>
<!-- Containter upper Footer End-->
<div th:insert="style/navbar :: footer "/>
</body>
</html>