<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SingleDrink</title>
  <meta charset="UTF-8">
  <title>Show All Drinks</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</head>
<body>


<div th:insert="style/navbar :: navbar "></div>

<div class="container  bg-image p-4 text-center shadow-1-strong rounded mb-5 text-black ">


   <div class="card text-center" style="width: 38rem;">
  <img src="https://cocktail.review.com.np/images/drink-image.svg" class="card-img-top" width="140px"  height="140px" alt="...">
  <div class="card-body">
    <h5 class="card-title">Drink name</h5>
    <div class="card" style="width: 100%;">
      <ul class="list-group list-group-flush">
        <div th:each="drink: ${drink}"> <!--Loop-->
        <li class="list-group-item" th:text="${drink.getDrinkImg()}"></li>
        <li class="list-group-item">glass type</li>
        <li class="list-group-item">inatruction</li>
        <li class="list-group-item">ingredients</li>
        <li class="list-group-item">drink type</li>
        </div>
      </ul>
      <a th:href="@{showAllDrinks}" class="card-link">Show all drinks</a>
    </div>
  </div>
</div>

</div>


<p>Space for Txt :)</p>


<div th:insert="style/navbar :: footer "></div>


</body>
</html>